* {
    margin: 0px;
    padding: 10px;
}
h1 {
    text-align: center;
}

div {
    display: flex;
    justify-content: space-around;
}

fieldset {
    text-align: left;
}

a {
    margin-left: 50px;
}